## #Date Time Handling

In [28]:
import datetime

In [29]:
mydate=date(1996, 12, 11)
print("It's my date:", mydate)

It's my date: 1996-12-11

### Get the Current Date

In [30]:
today_date=date.today();
print(today_date)

2024-10-04

In [31]:
# Get Todayâ€™s Year, Month, and Date
m=date.month;
print(m)

<attribute 'month' of 'datetime.date' objects>

In [32]:
print("Current day: ",today_date.day);
print("Current month: ",today_date.month);
print("Current year: ",today_date.year);

Current day:  4
Current month:  10
Current year:  2024

In [33]:
from datetime import datetime
date_time=datetime.fromtimestamp(12453656)
print(date_time)

1970-05-25 08:50:56

### Get hours, minutes, seconds, and microseconds

In [43]:


Time=time(12,56,55)
print(Time)

print("hours:",Time.hour)
print("min:",Time.minute)
print("sec:",Time.second)

print("microsecond:",Time.microsecond)

12:56:55
hours: 12
min: 56
sec: 55
microsecond: 0

### Working with pandas datetime

In [51]:
import pandas as pd

In [52]:
date_str = '2024-10-04'
date_obj = pd.to_datetime(date_str)
print(date_obj)

2024-10-04 00:00:00

In [53]:
# From a List or Series
date_list = ['2024-01-01', '2024-01-02', '2024-01-03']
date_series = pd.to_datetime(date_list)
print(date_series)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03'], dtype='datetime64[ns]', freq=None)

In [63]:
# Window Functions
 
data = {
    'date': pd.date_range(start='2024-01-01', periods=10, freq='D'),
    'value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}

df=pd.DataFrame(data)
df

        date  value
0 2024-01-01     10
1 2024-01-02     20
2 2024-01-03     30
3 2024-01-04     40
4 2024-01-05     50
5 2024-01-06     60
6 2024-01-07     70
7 2024-01-08     80
8 2024-01-09     90
9 2024-01-10    100

In [68]:
# Rolling Window Functions

# Moving Average
df['rolling_mean']=df['value'].rolling(window=3).mean()
df

        date  value  rolling_mean
0 2024-01-01     10           NaN
1 2024-01-02     20           NaN
2 2024-01-03     30          20.0
3 2024-01-04     40          30.0
4 2024-01-05     50          40.0
5 2024-01-06     60          50.0
6 2024-01-07     70          60.0
7 2024-01-08     80          70.0
8 2024-01-09     90          80.0
9 2024-01-10    100          90.0

In [70]:
#moving Sum
df['rolling_sum']=df['value'].rolling(window=3).sum()
df

        date  value  rolling_mean  rolling_sum
0 2024-01-01     10           NaN          NaN
1 2024-01-02     20           NaN          NaN
2 2024-01-03     30          20.0         60.0
3 2024-01-04     40          30.0         90.0
4 2024-01-05     50          40.0        120.0
5 2024-01-06     60          50.0        150.0
6 2024-01-07     70          60.0        180.0
7 2024-01-08     80          70.0        210.0
8 2024-01-09     90          80.0        240.0
9 2024-01-10    100          90.0        270.0

In [71]:
#. Expanding Window Functions

In [72]:
:# Cumulative Sum
df['cumulative_sum']=df['value'].expanding().sum()
df

        date  value  rolling_mean  rolling_sum  cumulative_sum
0 2024-01-01     10           NaN          NaN            10.0
1 2024-01-02     20           NaN          NaN            30.0
2 2024-01-03     30          20.0         60.0            60.0
3 2024-01-04     40          30.0         90.0           100.0
4 2024-01-05     50          40.0        120.0           150.0
5 2024-01-06     60          50.0        150.0           210.0
6 2024-01-07     70          60.0        180.0           280.0
7 2024-01-08     80          70.0        210.0           360.0
8 2024-01-09     90          80.0        240.0           450.0
9 2024-01-10    100          90.0        270.0           550.0

In [73]:
#Exponentially Weighted Functions
df['ewm_mean']=df['value'].ewm(span=3).mean()
df

        date  value  rolling_mean  rolling_sum  cumulative_sum   ewm_mean
0 2024-01-01     10           NaN          NaN            10.0  10.000000
1 2024-01-02     20           NaN          NaN            30.0  16.666667
2 2024-01-03     30          20.0         60.0            60.0  24.285714
3 2024-01-04     40          30.0         90.0           100.0  32.666667
4 2024-01-05     50          40.0        120.0           150.0  41.612903
5 2024-01-06     60          50.0        150.0           210.0  50.952381
6 2024-01-07     70          60.0        180.0           280.0  60.551181
7 2024-01-08     80          70.0        210.0           360.0  70.313725
8 2024-01-09     90          80.0        240.0           450.0  80.176125
9 2024-01-10    100          90.0        270.0           550.0  90.097752