In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [3]:
# 2. Load dataset

data=pd.read_csv('sample_dataset.csv')

In [4]:
df = pd.DataFrame(data)
df

    Experience  Age Education_Level  Salary
0            1   22        Bachelor   35000
1            2   25        Bachelor   40000
2            3   28          Master   50000
3            4   32          Master   60000
4            5   35             PhD   70000
5            6   40             PhD   80000
6            7   45             PhD   90000
7            8   50        Bachelor  100000
8            9   55          Master  110000
9           10   60             PhD  120000
10          11   65        Bachelor  130000
11          12   70          Master  140000

In [5]:

# Features (X) and target (y)
# Independant Features: 'Experience', 'Age', 'Education_Level'
X = df[['Experience', 'Age', 'Education_Level']]


#Dependent/ Target: 'Salary'
y = df['Salary']

In [6]:
print(X)

    Experience  Age Education_Level
0            1   22        Bachelor
1            2   25        Bachelor
2            3   28          Master
3            4   32          Master
4            5   35             PhD
5            6   40             PhD
6            7   45             PhD
7            8   50        Bachelor
8            9   55          Master
9           10   60             PhD
10          11   65        Bachelor
11          12   70          Master

In [7]:
print(y)

0      35000
1      40000
2      50000
3      60000
4      70000
5      80000
6      90000
7     100000
8     110000
9     120000
10    130000
11    140000
Name: Salary, dtype: int64

In [9]:
# Display the first few rows of features and target

print("Features (X):")
print(X.head())

print("\nTarget (y):")
print(y.head())

Features (X):
   Experience  Age Education_Level
0           1   22        Bachelor
1           2   25        Bachelor
2           3   28          Master
3           4   32          Master
4           5   35             PhD

Target (y):
0    35000
1    40000
2    50000
3    60000
4    70000
Name: Salary, dtype: int64

Handling Categorical Data:'Education_Level'

In [21]:
print(df['Education_Level'])

0     Bachelor
1     Bachelor
2       Master
3       Master
4          PhD
5          PhD
6          PhD
7     Bachelor
8       Master
9          PhD
10    Bachelor
11      Master
Name: Education_Level, dtype: object

In [22]:
# Encoding the categorical variable 'Education_Level'
X = pd.get_dummies(X, columns=['Education_Level'], drop_first=True)

# Now X contains the encoded categorical variables
print(X.head())

KeyError: "None of [Index(['Education_Level'], dtype='object')] are in the [columns]"